<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="icon" href="/img/diaphragm.png">
    <title>Obscura</title>
</head>
<body>
    <div class="main--content">
        <div class="main--box">
            <div class="logo--main">
                <h1>Obscura</h1>
                <img  width = "150" src="/img/diaphragm.png" alt="">
            </div>
            <div class="context">
                <p><b>Welcome to Obscura</b>, the photo-sharing app that values the power of a single image. Unlike other social media platforms that prioritize quantity over quality, Obscura is all about capturing the essence of a moment through a single photograph. With our app, you can take and share photos that truly mean something to you. Each post is a deliberate choice, carefully selected to showcase your unique perspective and creativity. Whether you're an amateur photographer or a seasoned pro, Obscura is the perfect place to share your passion for visual storytelling.</p>
                <div class="button">
                    <a href="/register" class="start--btn">Start Now</a>
                    <a href="/login" class="start--btn">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>